#search {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-width: 0px;
    -fx-background-radius: 10;
}

.list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
}

.list-cell {
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
}

.list-cell:hover {
    -fx-background-color: #f0f0f0;
}

.list-cell:selected {
    -fx-background-color: #c0e0ff;
}